<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Listening Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}">
</head>
<body>
    <div class="page-title">
        <img src="{{ url_for('static', filename='images/spotify-icon.png') }}" class="spotify-icon">
        <h1>Spotify Listening <span class="highlight">Analyzer</span></h1>
    </div>

    <div class="container">
        <div class="upload-card">
            <img src="{{ url_for('static', filename='images/upload-icon.png') }}" class="upload-icon">
            <div class="upload-card-title">Upload Your Spotify JSON File to Get Started</div>

            <form id="upload-form" class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                <div class="file-upload">
                    <input id="jsonFiles" name="jsonFiles" class="file-input" type="file" accept=".json" multiple />
                    <label for="jsonFiles" class="file-btn">Choose File</label>
                    <span id="fileName" class="file-name">No files chosen</span>
                </div>

                <p class="date-filter">Filter by date range (optional)</p>
                <div class="date-group">
                    <div class="date-field">
                        <label>From:</label>
                        <input type="date" name="startDate">
                    </div>

                    <div class="date-field">
                        <label>To:</label>
                        <input type="date" name="endDate">
                    </div>
                </div>  
                
                <div>
                    <button type="submit" class="analyze-submit-btn">Analyze My Listening</button>
                </div>
            </form>

        </div>
    </div>
    
    <script>
        const form = document.getElementById("upload-form");
        const input = document.getElementById("jsonFiles");
        const fileName = document.getElementById("fileName");

        input.addEventListener("change", () => {
            if (input.files.length === 0) {
                fileName.textContent = "No files chosen";
            } else if (input.files.length === 1) {
                fileName.textContent = input.files[0].name;
            } else {
                fileName.textContent = `${input.files.length} files chosen`;
            }
        });
    </script>
</body>
</html>